@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

*{
  font-family: 'Raleway', sans-serif;
  max-height: 100%;
  color: rgb(64, 31, 75);
}
html, body {
	height: 100%;
}
h1{
  font-family: 'Aboreto', cursive;
}
body{
 
  background: rgb(177,148,222);
background: linear-gradient(180deg, rgba(177,148,222,0.4318321078431373) 1%, rgba(145,88,236,0.36740633753501406) 19%, rgba(187,161,230,0.3281906512605042) 35%, rgba(249,242,242,0.4458377100840336) 54%, rgba(183,218,230,0.44303658963585435) 72%, rgba(51,197,200,0.3646052170868347) 87%);
background-repeat: no-repeat;

}
div{

  border-radius:30px;
}
h1{
  border-radius:30px;
  font-family: 'Oleo Script Swash Caps', cursive;
}